*{
    font-family: 'Raleway', sans-serif;
}


body {
    
    background: url(images/color_bubbles_by_photoshopminion-d6bnv63.png);
    background-size: contain;
    font-size: 1.3em;
    
}
h1 {
    font-family: 'Trebuchet MS', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke; 
    font-size: 1.8rem;
    text-align: center;
}
h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: aqua;
   font-size: 1.5rem;
   text-align: center;
}

div.rotate{
    display: inline-block;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 5px;
    
    background-color: white;
}


ol.top li{
    color: green;
    padding: 1px 1px;
    list-style: none;
    
}


.rotate:hover
{
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);

}

div.shrink{
   
    display: inline-block;
    border: solid 5px black;
    border-radius: 10px;
    background-color: yellow;
    left: 1005px;
    top: 250px;
    
    position: fixed;
    bottom: 100;
    right: 1;
    
}
ol.middle li{
    list-style: none;
    color: orangered;
    
    padding: 5px 5px;
}

.shrink:hover
{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}

div.color{
    display: inline-block;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 5px;
    background-color: green;

    left: 500px;
    top: 600px;
    
    position: fixed;
    bottom: 100;
    right: 1;
}
ol.bottom li{
    list-style: none;
    padding: 5px 5px;
    color: orange;
}
.color:hover{
    background:#53a7ea;
}

.diamond { width: 0; height: 0; border: 50px solid transparent;
     border-bottom-color: red; position: relative; top: -50px; }
 
     .diamond:after { content: ''; position: absolute;
     left: -50px; top: 50px; width: 0; height: 0;
      border: 50px solid transparent; border-top-color: red; }

      
    


    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
     ul.listtop {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    ol.listofthings li {
        float: left;
    }
    
    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover, .dropdown:hover .dropbtn {
        background-color: red;
    }
    
    li.dropdown {
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    .dropdown:hover .dropdown-content {
        display: block;
    }